#clearBtn{
    margin-left: 900px;
    margin-top: 150px;
    padding: 10px;
}

.container{
    display: grid;
    height: 500px;
    margin: auto;
    width: 500px;
    border: 20px solid black;
}

.box{
    color: #000000;
    border-radius: 5px;
    border-style:solid;
}


